# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.vercel


# React Native
android/.gradle/
android/app/build/
ios/Pods/
ios/build/
ios/.DS_Store
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcworkspace/xcshareddata/

# Misc build artifacts
*.log
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log

# OS-specific
.DS_Store
Thumbs.db

# Environment & credentials
.env
.env.*
*.keystore
*.p8
*.p12
*.mobileprovision
*.jks

# EAS build caches
build/
.cache/

# VSCode & JetBrains
.vscode/
.idea/

App.tsx.bk